@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de NombreProyecto</p>
</div>

<div class="inicio">
    <h1>RandomQuestion</h1>
    <h2>RandomQuestion: ¿Tu conocimiento podrá con nuestras preguntas y respuestas?</h2>
    <p>RandomQuestion es un sitio innovador dedicado a fomentar la curiosidad y el conocimiento a través de preguntas y respuestas.
    En esta página, los usuarios pueden explorar una amplia variedad de temas, desde trivias culturales y datos científicos hasta cuestiones filosóficas y desafíos intelectuales.
    Lo que distingue a RandomQuestion es su enfoque en la aleatoriedad y la diversidad; cada vez que accedes a la página, se te presenta una nueva pregunta, asegurando que la experiencia sea siempre fresca y estimulante.
    Esta dinámica no solo enriquece el conocimiento general, sino que también promueve el intercambio de ideas entre una comunidad global de curiosos.</p>
    <a href='@Url.Action("ConfigurarJuego", "Home")'><button class="btn btn-outline-success Jugar">¡JUGAR!</button></a>
</div>